# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly libraries used by Data Scientists
* List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Scikit Learn
3. Pandas

|Data Science Tools|
|-----|
|Jupyter|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Abdulaziz